body{
  background-color:hsl(218, 28%, 13%);
  color:white;
}
#content.move{
    margin-top:300px;
  }
.for-desktop{
  margin:0 70px;
}
.img-top{
  position:relative;
  top:75px;
}
.nav{
  text-align:right;
  height:70px;
  line-height:70px; 
  display:flex;
  justify-content:flex-end;
}

.menu a{
  text-decoration:none;
  color:white;
  margin:0 20px;
  line-height:70px;
  clear:right;
  font-size:20px;
  letter-spacing:2px;
}
.menu a:hover{
  color:orange;
}
label{
  margin:0 40px 0 0;
  font-size:26px;
  line-height:70px;
  display:none;
  width:26px;
  float:right;
}
#toggle{
  display:none;
}
@media(max-width:956px){
  .for-desktop{
    margin:0;
  }
  label{
    display:block;
    cursor:pointer;
    color:white;
  }
  .menu{
    text-align:center;
    width:100%;
    display:none;
  }
  .menu a{
    display:block;
    border-bottom:1px solid #EAEAEB;
    margin:0;  
    font-size:18px;
    letter-spacing:2px;
  }
     #toggle:checked +.menu{
    display:block; 
  }
  .img-top{
    position:relative;
    top:65px;
    left:30px;
  }
  
}
.first-container{
  text-align:center;
  margin-top:50px;
}
.text{
  text-align:center;
}
h1{
  width:50%;
  margin:0 auto;
}
.text p{
  width:35%;
  margin:25px auto;
  font-size:17px;
  line-height:25px;
}
.btn{
  background-color:hsl(198, 60%, 50%);
  color:hsl(0, 0%, 100%);
  padding:10px 90px;
  border-radius:50px;
}
.btn:hover{
  background-color:transparent;
  color:hsl(0, 0%, 100%);
  border:2px solid hsl(198, 60%, 50%);
}
.second-container {
  text-align:center;
  margin-top:100px;
}
.second-container .col {
  margin:20px 40px;
}
.second-container p{
  width:90%;
  margin:10px auto;
}
h2{
  font-size:25px;
}
.second-container h2,p{
  margin-top:20px;
}
.third-container{
  margin:60px 120px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.text-container3{
  margin-left:50px;
}
.text-container3 a{
  border-bottom:1px solid;
}
.text-container3 a{
  text-decoration:none;
  color:hsl(176, 68%, 64%);
}
.testimonials{
  margin:120px 120px 0 120px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.social-box{
  background-color:hsl(219, 30%, 18%);
  width:400px;
  height:230px;
  margin:0 25px;
  border-radius:10px;
}
.whole-text{
 position:relative;
  top:50px;  
}
.social-box p{
  margin:0 25px;
}
.author-profile{
  display:flex;
  margin:15px 25px;
}
.img-author{
  border-radius:50%;
  width:10%;
  height:10%;
  margin-top:10px;
}
.about-author{
  display:grid;
  margin:0 5px;
}
.about-author h4{
  position:relative;
  top:10px;
  font-size:15px;
}
.about-author span{
  font-size:12px;
  color:hsl(198, 60%, 50%);
}
.sign-up
{
  text-align:center;
 margin:100px 0;  
}
.sign-up-box{
  background-color: hsl(217, 28%, 15%);
  height:300px;
  margin:0 240px;
  border-radius:10px;
  position:relative;
  top:80px;
}
.text-inside{
  position:relative;
  top:30px;
}
.text-inside p{
  width:65%;
  margin:30px auto;
}
.for-email{
  width:50%;
  padding:8px 16px;
  border-radius:50px;
  border:none;
}
h5{
  font-size:35px;
}
.btn-email{
  margin-left:20px;
  padding:8px 25px;
  border-radius:50px;
  border:none;
  background-color:hsl(198, 60%, 50%);
  color:white;
}
.footer{
  background-color:hsl(216, 53%, 9%);
  height:400px; 
margin-top:-180px;
}
.footer a{
  display:block;
  color:white;
  margin:5px;
}
.p-bot{
  width:310px;
}
.icons-row {
  display:flex;
  margin-top:220px;
}
.icons-row i{   
  font-size:20px; 
}
i{
  color:white;
}
.footer-content{
  display:flex;
  justify-content:space-around;
}
.links{
  display:block;
  margin-top:220px;
}
.down{ 
}
@media(max-width:1024px){
  .img-first-container {
    width:100%;
}
  .text h1{
    width:auto;
    margin:50px 15px;
  }
  .text p {
    width:auto;
    margin:20px 10px;
  }
  .third-container{
    display:block;
    margin:10px 20px;
  }
  .img-container-3{
    width:100%;
    margin:auto;
    text-align:center;
  }
  .text-container3{
    margin:20px auto;
  }
  .text-container3 h3{
    text-align:center;
    width:100%;
  }
  .testimonials{
    display:block;
    margin:0;   
  }
  .social-box{
    margin:40px 20px;   
    height:200px;
    width:auto;
    
  }
  .whole-text{
    position:relative;
    top:20px;  
  }
  .sign-up{
    margin:0 15px;
  }
  .sign-up-box{
    width:100%;
    height:350px;
    margin:50px auto;
  }
  .text-inside{
    width:100%;
    margin:0;
  }
  .text-inside p{
    width:95%;
    margin:5px 10px;
    text-align:center;
  }
  .for-email{
    width:70%;
    margin-top:30px;
  }
  .btn-email{
    width:70%;
    margin:20px auto;
}
  .footer-content{
    display:flex;
  }
  .links{
     display:block;
    margin:0;
    position:relative;
    top:300px;
  }
  .icons-row{
    display:flex;
    justify-content:center;
    margin-top:300px;
  }
  .footer{
    height:auto;
  }
  .footer-content{
    display:grid;
    height:auto;
  }
  .center{
    text-align:center;
  }
}